@tailwind base;
@tailwind components;
@tailwind utilities;

/* a{
    justify-content: center;
    text-align: center;

} */

td{
    border: 1px rgb(61, 61, 61) solid;
}
th{
    border: 2px rgb(61, 61, 61) solid;

}

/* @media print {
    body  *:not(#my-section):not(#my-section *){
        visibility: hidden ;
    }
    #my-section{
        position: absolute;
        top:0;
        left: 0;
    }

} */


.animate-marquee {
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}





